.sessionchair {
  background-color: var(--white);
   padding: 60px 0 60px 0 !important ;
}

.committee-section {
  margin-bottom: 4rem;
}

.committee-section:last-child {
  margin-bottom: 0;
}

.session-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;

  /* display: flex;          Change from grid to flex */
  /* flex-wrap: wrap;        Allow items to wrap to the next line */
  /* justify-content: center; This will center the items on every row */
  /* gap: 2rem;
  margin-top: 2rem; */

  /* display: grid; */
  /* Change 'auto-fit' to 'auto-fill' if you want items to maintain their size */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 300px));  */
  /* gap: 2rem; */
  /* margin-top: 2rem; */
  /* This centers the entire grid of cards */
  /* justify-content: center; */
  
}

.session-card {
  /* flex: 0 1 300px; */
  /* flex: 0 1 calc(25% - 2rem); 
  min-width: 250px; */
  background-color: var(--light-bg);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px #1e3a8a
}

.session-card:hover {
  transform: translateY(-5px);
}

.session-card h4 {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}



.session-card .role {
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.session-card .title,
.session-card .institution {
  color: var(--text-color);
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .session-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }

  .session-card {
    padding: 1.5rem;
  }
}

.speaker-image-container {
  margin-bottom: 15px;
}

.speaker-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* Makes the image perfectly circular */
  object-fit: cover;
  border: 4px solid #f0f0f0;
  /* Light border around the image */
}